<!DOCTYPE html>
<html>
<head>
    <title>Hackathon</title>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.min.js"></script>
            <script src="script.js"></script>
            <link rel="stylesheet" href="style.css" />
</head>
<body>
            <div ng-app="myApp" ng-controller="myCon">
            <nav>
                <div id="id">
                    <p class="new" style="margin: 0;border: none">User: {{me.name}}</p>
                </div>
                <button class="new" id="joinCom" ng-click="joinCommunity()">Join A Community</button>
                <button class="new" id="newCom" ng-click="newCommunity()">Create A New Community</button>
            </nav>
            <h1>Create A New Event</h1>
            <form ng-submit='addM()'>
                <input type='text' required placeholder='Title' id='title'><br />
                <input type='text' required placeholder='Description' id='text' minlength="50"><br />
                <input type='text' required placeholder='Location' id='loc'><br />
          <span class="td">Start Time: </span> <input type='time' required id='sTime' style='margin-right: 10px;'>
          <span class="td">End Time: </span> <input type="time" required id="eTime">
          <br />
          <span class="td">Date:</span> <input type='date' required placeholder='2018-02-15' id='date'><br />
                <button type='submit'>Create</button>
            </form>
            <hr>
            <h1>Upcoming Events</h1>
            <div ng-repeat='m in message' id='m'>
                <h2>{{m.title}}</h2>
                <p id="t">{{m.text}}</p>
                <div id="extra">
                    <p>Date: {{m.date}} | Time: {{m.sTime}} - {{m.eTime}}</p>
                    <p>Location: {{m.location}}</p>
                    <p>Created By: {{m.creator}}</p>
                </div>
            </div>
            <hr>
            <div id="hotSpots">
                <h1>Popular Locations</h1>
            </div>
            <hr>
            <div id="popCom">
                <h1>Popular Communities</h1>
            </div>
            </div>
</body>
</html>
